@charset "UTF-8";

/* GENERAL CREATIVE CONTENT SETTING*/

.bg-creativecontent{
width: 80%;
margin: 0 auto;
border-radius: 40px; /* Optional: Adds smooth corners */
transition: transform 0.2s ease, box-shadow 0.2s ease;
margin-top: 50px; /*1cm*/
overflow: hidden;
border: solid #d4d0d1 1px;
}

.bg-creativecontent:hover {
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
              0 1px 3px rgba(0, 0, 0, 0.06);
transform: translateY(-4px);
}

.cc-title{
width:80%;
margin: 0 auto;
padding: 110px 0 115px 0; /*2.5cm*/
}


.cc-container {
display: flex;
}

.cc-col1, .cc-col2{
flex:1;
}

.cc-col2{
display: flex;
  justify-content: center; /* Horizontal center alignment */
  align-items: center; /* Vertical center alignment */
}

 /*for content page that have images in column*/
.cc-flexbox{
display: flex;
}

.cc-flexbox-col{
flex:1;
}

#cc-button{
margin: 36px 0 0 0;
}

/* FOR PAGE portfolio.html*/

.bg-portfolio {
margin-top:64px;
}

#thumb-lrrh{
height:550px;
}


/*FROM HERE IS artwork.html*/

/* artwork.html the eyes container*/

.bg-eyes-stars {
background-color: #f9f5f0;/*ivory*/
padding-top: 50px;
}
    
/*under eyes title*/

.undereyes-title h1{
padding: 56px 0 116px 0;
}

/*stars*/

.eyes-stars-container{
width: 100%;
margin: 0 auto;
}

.es-row{
display: flex;
margin: 0 auto;
align-items: center; /* Vertically centers the image */
justify-content: center; /* Horizontally centers the image */
}

.es-col{
margin: 0 auto; /*align center*/
align-items: center; /* Vertically centers the image */
justify-content: center; /* Horizontally centers the image */
}
.es-col  img{
margin: 0 auto;/*align center*/
}


.es-col1, .es-col2 {
width: 50%;
padding-top: 25px;
}

.es-col6, .es-col7{
width: 15%;
}

.es-coleye {
width:70%;
}

#es-star-1{
width: 38px;
}

#es-star-2{
width: 25px;
}

#es-star-3{
width: 15px;
}

 #es-star-4 {
width: 28px;
margin-bottom: 50px;
}

#es-star-5{
width: 15px;
}

#es-star-6{
width: 30px;
}

#es-star-7 {
width: 20px;
}


/*the eyes*/
.theeyes{
display: flex;
align-items: center; /* Vertically centers the image */
justify-content: center; /* Horizontally centers the image */
}

.oneeye{
width: 250px;
margin: 0 120px; /*space between eyes*/
}

 .eye {
      position: relative;
      width:100%;
      height: 130px;
      background: #fff;
      border:8px solid #1e1818;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -40px;
    }

    .pupil {
      position: absolute;
      width: 90px;
      height: 135px;
      background: #1e1818;
      border-radius: 450%;
      transition: transform 0.1s;
    }

.pupil{
  background-image: url('images/eye-stars.gif'); /* Replace 'your-image.jpg' with the path to your image */
  background-size: 90%; /* Makes the image cover the entire element */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
}

.eyeblash{
display: flex;
width: 100%;;
align-items: baseline; /* Align items by their text baselines */
 justify-content: center;
      
}
.eyeblash-1, .eyeblash-2,.eyeblash-3, .eyeblash-4,.eyeblash-5 {
flex: 1}

.eyeblashblack{
margin: 0 auto;
width: 8px;
height: 50px;
background-color: #1e1818;
border-radius: 4px;
}

.eyeblash-1 {
transform: rotate(-45deg);

}

.eyeblash-2 {
transform: rotate(-25deg);
height:70px;
}

.eyeblash-3{
height: 75px;
}
.eyeblash-4 {
transform: rotate(25deg);
height:70px;
}

.eyeblash-5 {
transform: rotate(45deg);
}

/*All you need is love*/

#aynil-slider {
width: 100%;
border-radius: 0;
  }

#aynil-buttonleft, #aynil-buttonright{
  padding: 5px;
 background-color: #1e1818;
 color: white;
 border: none;
 width: 35px;
 height: 65px;
 text-align: center;
 top: 50%;
 transform: translateY(-50%);
}

#aynil-buttonleft{
  border-radius: 0 100px 100px 0; 
}

#aynil-buttonleft p{
margin-left: -5px;
}

#aynil-buttonright{
  border-radius:100px 0 0 100px;
}

#aynil-buttonright p{
margin-right: -5px;
}
    
/*RESPONSIVE */

@media screen and (max-width: 1400px) /*ipad mini */{
 

    
/*the eyes*/   
.oneeye{
margin: 0 90px; /*space between eyes*/
}
    
    
}


@media screen and (max-width: 1100px) /*ipad mini */{
    
/*CREATIVE CONTENT*/
    
.cc-container {
display: block;
}
    
.bg-creativecontent{
width: 100%;
border-radius:0;
margin-top: 0; /*none*/
border: solid #d4d0d1 0px;
}
    
 .cc-title{
padding:60px 0 66px 0; /*2.5cm scale to 1.5cm*/
}
  
 /*stars*/
    
    .es-col6, .es-col7{
    display: none; }
        
    .es-coleye{
    width: 100%;
    }
   
/*the eyes*/
    
.oneeye{
margin: 0 80px; /*space between eyes*/
}

}/*end of ipad mini*/

@media screen and (max-width: 700px) /*iphone */{
    
    
/* CREATIVE CONTENT*/

 .cc-title{
width:90%;
padding:36px 0 38px 0; /*2.5cm scale to 1.5cm*/
}

    .cc-flexbox {
    display: block;
    }
    
    
#cc-button{
margin: 34px 0 18px 0;
}
 /*portoflio*/

.bg-portfolio {
margin-top:46px;
}
    
/*bg color*/

.bg-eyes-stars {
padding-top: 60px; /*1.5cm*/
}

/*under eyes title*/
    

.undereyes-title h1{
padding: 28px 0 70px 0; /*1.5cm*/
}
    
/*stars*/
    
    #es-star-1{
    width: 30px;
    }
    
    #es-star-2{
    width: 20px;
    }
  
    
/*the eyes scale to 0.7*/

.oneeye{
margin:0 auto;
width: 140px;

}

 .eye {
      height: 80px;
      border:5px solid #1e1818;
      margin-top: -54px;
    }

    .pupil {
      width: 60px;
      height: 90px;
    }

.eyeblashblack{
width:5px;
}

    .es-row1{
    display: none;
    }

    .es-row2{
    display: none;
    }
    
/*All you need is love*/

    
}


